body{
    background-color: #d8eafc;
    color: #3f3f3f;
}
form{
    text-align: center;
    
}
/* 
Dark Chumbo (#1E1E1E) -O Espaço de Foco 
Vibrant Blue (#1E88E5) -Ação e Interação
Progress Green (#43A047) Avanço e Correção
Achievement Yellow (#FDD835) -Recompensas e Destaque
*/
