body{
    background-color: rgb(57, 57, 57);
    color:rgb(240, 240, 240)
}
a{
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-weight: bold;
}
input {
    background-color: rgb(67, 67, 67);
    color: rgb(240, 240, 240);
}